@import "./normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

button {
  border: none;
  background: transparent;
  padding: 0;
}

input[type=text] {
  border: none;
  background: transparent;
}